body {
  background-color: MediumPurple;
}
.link {
  background-color: yellow;
  padding: 1rem;
  margin-left: 10px;
  padding: 10px;
  display: inline-block;
}
.link:hover {
  background-color: red;
}

table, td {
  border-collapse: collapse;
  background-color: lightyellow;
  padding: 5px;
  text-align: center;
}

th {
  background-color: yellow;
  text-align: center;
}

label {
  margin: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  margin: 10px;
}

.tytul {
  background-color:gold;
  width: 100%;
  margin: 10px;
}

.imie {
  margin: 10px;
}

.menu {
  background-color: yellow;
  margin: 10px;
  width: 10%
}

.strona {
  background-color: pink;
  margin: 10px;
  width:80%
}
