body {
  background-color: MediumPurple;
}
.link {
  background-color: yellow;
  padding: 1rem;
  margin-left: 10px;
  margin-top: 10px;
}
.link:hover {
  background-color: red;
}

table {
  border-collapse: collapse;
}
