.tytul {
    background-color: orange;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.menu {
    background-color: aquamarine;
    width: 100%;
    text-align: center;
}

.header {
    background-color:burlywood;
    padding: 10px;
    text-align: center;
    width: 30%;
    height: 20vh;
}

.sidebar {
    background-color: cadetblue;
    padding: 10px;
    text-align: center;
    width: 60%;
}

.menu_item{
    background-color: coral;
    padding: 10px;
    text-align: center;
    width: 20%;
}

.footer {
    background-color: cornflowerblue;
    padding: 10px;
    text-align: center;
    width: 60%;
}